<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../libs/angular-1.7.3.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../libs/underscore-min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body ng-app="hd">
<style>
    .mobile {
        border: solid 1px;
        height: 500px;
        display: flex;
    }

    .mobile dl {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
    }

    .mobile dl dt {
        /*border: solid 1px #999;*/
        background: #999;
        color: red;
        height: 30px;
        text-align: center;
    }

    .mobile dl dd {
        display: flex;
        flex-direction: column;
    }

    .mobile dl dd a {
        border: solid 1px #f3f3f3;
        text-align: center;
        padding: 6px;
    }
    .top-menu, .sub-menu{
        position: relative;
    }
    .top-menu .top-fa, .sub-menu .sub-fa{
        position: absolute;
        right: -10px;
        top: -10px;
        color: #999999;
        cursor: pointer;
        display: none;
    }
    .top-menu:hover .top-fa, .sub-menu:hover .sub-fa{
        display: block;
    }

</style>
<div ng-controller="ctrl">
    <div class="container">
        <div class="row">
            <div class="col-xl-4" class="app">
                <div class="mobile">
                    <dl ng-repeat="v in data.button">
                        <dt ng-bind="v.name">游戏</dt>
                        <dd>
                            <a href="" ng-repeat=" d in v.sub_button" ng-bind="d.name"></a>
                            <!--                           <a href="">全名突击</a>-->
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">编辑</h3>
                    </div>
                    <div class="card-body">
                        <!--                       一级菜单开始-->
                        <div class="card card-deck top-menu" ng-repeat="v in data.button">
                            <i class="fa fa-times-circle top-fa fa-lg" ng-click="removeTopMenu(v)"></i>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">标题</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="v.name">
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="v.sub_button.length>0">
                                    <label class="col-sm-2 control-label">类型</label>
                                    <div class="col-sm-10">
                                        <label class="custom-radio">
                                            <input type="radio" ng-model="v.type" value="click">关键词
                                        </label>
                                        <label class="custom-radio">
                                            <input type="radio" ng-model="v.type" value="view">网址
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="v.type=='click'&& v.sub_button.length==0">
                                    <label class="col-sm-2 control-label">关键词</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="v.key">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="v.type=='view'&& !v.sub_button">
                                    <label class="col-sm-2 control-label">链接</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="v.url">
                                    </div>
                                </div>
                                <!--                               二级菜单-->
                                <div class="card card-deck sub-menu" ng-repeat="d in v.sub_button">
                                    <i class="fa fa-times-circle sub-fa fa-1x" ng-click="removeSubMenu(v,d)"></i>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">标题</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="d.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">类型</label>
                                            <div class="col-sm-10">
                                                <label class="custom-radio">
                                                    <input type="radio" ng-model="d.type" value="click">关键词
                                                </label>
                                                <label class="custom-radio">
                                                    <input type="radio" ng-model="d.type" value="view">网址
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="d.type=='click'">
                                            <label class="col-sm-2 control-label">关键词</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="d.key">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="d.type=='view'">
                                            <label class="col-sm-2 control-label">链接</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" ng-model="d.url">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                               二级菜单 end-->
                                <button class="btn btn-info" type="button" ng-click="addSubButton(v)">添加菜单</button>
                            </div>
                        </div>
                        <!--                       一级菜单结束-->
                        <button class="btn btn-success" type="button" ng-click="addTopButton()">添加一级菜单</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var m = angular.module('hd', []);
    m.controller('ctrl', ['$scope', function ($scope) {
        $scope.data = {
            "button": [
                {
                    "type": "click",
                    "name": "今日歌曲",
                    "key": "V1001_TODAY_MUSIC"
                },
                {
                    "name": "菜单",
                    "sub_button": [
                        {
                            "type": "view",
                            "name": "搜索",
                            "url": "http://www.soso.com/"
                        },
                        {
                            "type": "miniprogram",
                            "name": "wxa",
                            "url": "http://mp.weixin.qq.com",
                            "appid": "wx286b93c14bbf93aa",
                            "pagepath": "pages/lunar/index"
                        },
                        {
                            "type": "click",
                            "name": "赞一下我们",
                            "key": "V1001_GOOD"
                        }
                    ]
                }]
        };
        //添加一级菜单
        $scope.addTopButton=function () {
            var menu={
                "type": "click",
                "name": "今日歌曲",
                "key": "V1001_TODAY_MUSIC"
            };
            if($scope.data.button.length==3)
            {
                alert('不能超出3！');
            }else
            {
                $scope.data.button.push(menu);
            }
        };
        //添加二级菜单
        $scope.addSubButton=function (item) {
            var menu={
                "type": "click",
                "name": "今日歌曲",
                "key": "V1001_TODAY_MUSIC"
            };
            if(!item.sub_button){
                item.sub_button=[];
            }
            if(item.sub_button.length==5)
            {
                alert('不能超出5！');
            }else
            {
                item.sub_button.push(menu);
            }
        };
        //删除一级菜单
        $scope.removeTopMenu=function (item) {
            $scope.data.button=_.without($scope.data.button,item);
        };
        $scope.removeSubMenu=function (topMenu,subMenu) {
            topMenu.sub_button=_.without(topMenu.sub_button,subMenu);
        };

    }]);
</script>
</body>
</html>