<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../libs/angular-1.7.3.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body ng-app="hd">
<div ng-controller="ctrl">
   <table border="1" width="600">
       <tr>
           <td ng-click="odb2('id')">编号</td>
           <td ng-click="odb2('click')">数量</td>
           <td ng-click="odb2('title')">籍贯</td>
       </tr>
       <tr ng-repeat="(k,v) in data">
           <td>{{v.id}}</td>
           <td>{{v.click}}</td>
           <td>{{v.title}}</td>
       </tr>
   </table>
</div>
<script>
    let m=angular.module('hd',[]);
    m.controller('ctrl',['$scope','$filter',function ($scope,$filter) {
        $scope.data=[
            {id:4,click:100,title:'杭州人'},
            {id:2,click:200,title:'衢州人'},
            {id:3,click:300,title:'宁波人'},
        ];
        $scope.odb2=function (opt) {
            if(arguments.callee[opt]==undefined)
            {
                arguments.callee[opt]=false;//arguments.callee[opt]相当于取个静态变量，首次为undefined,赋值后继续执行不变，
            }
            arguments.callee[opt]=!arguments.callee[opt];
            $scope.data=$filter('orderBy')($scope.data,opt,arguments.callee[opt]);//过滤器用于orderBy
        };
    }]);
</script>
</body>
</html>